:root {
    --background-blue: rgb(86, 131, 226);
}

header {
    padding: 15px;
    background-color: rgb(51, 51, 58);
    color: white;
    text-align: center;
}

img {
    align-items: center;
}

.row {
    margin: 1rem;
}

.card {
    padding: 10px;
    width: 18rem;
}

#history {
    background-color: #e9ecef;
    padding: 1rem;
}

.oi {
    background-color: var(--background-blue);
    color: white;
    padding: 10px;
}

.input-group {
    margin-bottom: 1rem;
}

#uv-index {
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#forecast {
    background-color: var(--background-blue);
    color: white;
    width: 11rem;
    height: 15rem;
    margin: 0.5rem;
}

#forecast img {
    width: 35%;
    align-self: center;
}